@layer components {
  /* Variables */
  .demo1 {
    --sidebar-transition-duration: 0.3s;
    --sidebar-transition-timing: ease;
    --sidebar-width: 280px;
    --sidebar-width-collapse: 0px;
    --sidebar-default-width: 280px;
    --header-height: 70px;
  }

  @media (max-width: theme(--breakpoint-lg)) {
    .demo1 {
      --sidebar-width: 280px;
      --header-height: 60px;
    }
  }

  /* Base */
  .demo1 .header {
    height: var(--header-height);
  }

  .demo1 .sidebar {
    width: var(--sidebar-width);
  }

  .demo1.header-fixed .wrapper {
    padding-top: var(--header-height);
  }

  /* Desktop mode */
  @media (min-width: theme(--breakpoint-lg)) {
    .demo1 .sidebar {
      width: var(--sidebar-default-width);
      transition:
        transform var(--sidebar-transition-duration) var(--sidebar-transition-timing),
        box-shadow var(--sidebar-transition-duration) var(--sidebar-transition-timing);
    }

    .demo1 .sidebar .sidebar-header {
      height: var(--header-height);
    }

    .demo1 .sidebar .small-logo {
      display: none;
    }

    .demo1.sidebar-fixed .wrapper {
      padding-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .header {
      inset-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .wrapper {
      padding-top: var(--header-height);
    }

    .demo1.sidebar-collapse {
      --sidebar-width: 0px;
    }

    .demo1.sidebar-collapse .sidebar {
      transform: translateX(-100%);
      box-shadow: none;
      pointer-events: none;
    }
  }

  .demo1.layout-initialized .wrapper {
    transition: padding-inline-start var(--sidebar-transition-duration)
      var(--sidebar-transition-timing);
  }

  .demo1.layout-initialized .header {
    transition: inset-inline-start var(--sidebar-transition-duration)
      var(--sidebar-transition-timing);
  }

  .demo1.layout-initialized .sidebar {
    transition:
      transform var(--sidebar-transition-duration) var(--sidebar-transition-timing),
      box-shadow var(--sidebar-transition-duration) var(--sidebar-transition-timing);
  }
}
